# node / build
node_modules/
dist/
build/
coverage/
*.log
npm-debug.log*
yarn-*.log*
pnpm-debug.log*

# env & secrets
.env
*.env
secrets/
serviceAccount*.json
firebase-service-account.json

# os / editor / misc
.vscode/
.DS_Store
Thumbs.db
*.lnk
